*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(90deg,rgba(0, 194, 188, 1) 0%, rgba(0, 52, 166, 1) 42%, rgba(112, 45, 189, 1) 100%);
    overflow: hidden;
}
#head{
    margin-top: 30px;
    text-align: center;
    height: 80px;
    width: 400px;
    border: 5px  #1d6e6c solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: #00c2bc;;
    background-color: rgba(240, 248, 255,0.5);
    transition: 0.4s ease-in-out;
    cursor: pointer;
    border-radius: 5px 30px 5px 30px;
    box-shadow:  #00c2bc 5px 5px 10px ;
}
#head:hover{
    transform: scale(1.1);
    background-color: rgba(240, 248, 255,0.7);
    box-shadow: #00c2bc 10px 10px 15px ;
}
.heading{
    display: flex;
    justify-content: center;
}
.main{
    height: 70vh;
    width: 75%;
    border: #250a49 2px solid;
    margin: 100px auto;
    background-color: rgba(240, 248, 255, 0.4);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
}
.main:hover{
    transform: scale(1.1);
    background-color: rgba(240, 248, 255, 0.5);

}
.col{
    height: 60%;
    width: 25%;
    border: #270a49 2px solid;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
    padding: 10px;
    overflow-y: hidden;
    font-size: 25px;
    line-height: 1.6;
}
.col:hover{
    transform: scale(1.1);
    background-color: rgba(240, 248, 255, 0.7);
}